body {
    background-color: #000;
    color: #fff;
}

.emoji-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms ease-out;
    background-color: #000;
}

.emoji-container--neutral { background-color: #000;}
.emoji-container--attention { background-color: #000;}
.emoji-container--surprised { background-color: #000;}
.emoji-container--sad { background-color: #9ecee2;}
.emoji-container--angry { background-color: #ff0000;}
.emoji-container--hope { background-color: #000;}
.emoji-container--excitement { background-color: #000;}
.emoji-container--happy { background-color: #f1de10;}
.emoji-container--hide { display: none; }


.emoji-bot {
    position: relative;
    width: 600px;
    height: 460px;

}

.emoji-eye {
    position: absolute;
    width: 30%;
    height: 0;

    transition: all 250ms ease-out;
}

.emoji-eye--left {
    top: 40%;
    left: 18%;
}

.emoji-eye--right {
    top: 40%;
    left: 52%;
}

.emoji-eye-ball {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    transform: translateY(-50%);
    height: 200px;

    transition: background-image 300ms linear;
    background-image: linear-gradient(transparent 50%, rgba(15,200,250,.9) 50%);
    background-size: 10px 10px;

    border-radius: 20%;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.emoji-eye-lid {

}


/*** Animations - Neutral *****/

.emoji-container--neutral .emoji-eye {
    width: 30%;
}

.emoji-container--neutral .emoji-eye--left {
    top: 40%;
    left: 18%;
}

.emoji-container--neutral .emoji-eye--right {
    top: 40%;
    left: 52%;
}

.emoji-container--neutral .emoji-eye-ball {
    height: 200px;
    animation-name: blinker;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

    /** blink animation */
@keyframes blinker {
    94% {
        height: 200px;
    }
    97% {
        height: 0;
    }
    100% {
        height: 200px;
    }
}

/*** Animations - Neutral *****/


/*** Animations - Look left *****/
.emoji-container--lookleft .emoji-eye {
    width: 30%;
}

.emoji-container--lookleft .emoji-eye--left {
    top: 40%;
    left: 5%;
}

.emoji-container--lookleft .emoji-eye--right {
    top: 40%;
    left: 39%;
}

.emoji-container--lookleft .emoji-eye-ball {
    height: 200px;
    animation-delay: 1ms;
    /*animation-name: blinker;*/
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.emoji-container--lookleft .emoji-eye--left .emoji-eye-ball {
    animation-name: blinkertall;
    height: 250px;    
}

@keyframes blinkertall {
    94% {
        height: 250px;
    }
    97% {
        height: 0;
    }
    100% {
        height: 250px;
    }
}

/*** Animations - Look left *****/


/*** Animations - Look right *****/
.emoji-container--lookright .emoji-eye {
    width: 30%;
}

.emoji-container--lookright .emoji-eye--left {
    top: 40%;
    left: 31%;
}

.emoji-container--lookright .emoji-eye--right {
    top: 40%;
    left: 65%;
}

.emoji-container--lookright .emoji-eye-ball {
    height: 200px;
    /*animation-name: blinker;*/
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.emoji-container--lookright .emoji-eye--right .emoji-eye-ball {
    animation-name: blinkertall;
    height: 250px;    
}
/*** Animations - Look right *****/


/*** Animations - Attention *****/

    /* neutral, just sound */
.emoji-container--attention .emoji-eye {
    width: 30%;
}

.emoji-container--attention .emoji-eye--left {
    top: 40%;
    left: 18%;
}

.emoji-container--attention .emoji-eye--right {
    top: 40%;
    left: 52%;
}

.emoji-container--attention .emoji-eye-ball {
    height: 200px;
    animation-name: blinker;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


/*** Animations - Attention *****/


/*** Animations - Surprised *****/

.emoji-container--surprised .emoji-eye-ball {
    height: 200px;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

.emoji-container--surprised .emoji-eye--left .emoji-eye-ball {
    animation-name: surprised-left;
}

.emoji-container--surprised .emoji-eye--right .emoji-eye-ball {
    animation-name: surprised-right;
}


    /** surprised animation */
@keyframes surprised-left {
    0% {
    }
    100% {
        height: 140px;
    }
}

@keyframes surprised-right {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    100% {
        height: 140px;
        clip-path: polygon(0 58%, 100% 37%, 100% 100%, 0% 100%);
    }
}

/*** Animations - Surprised *****/


/*** Animations - Sad *****/

.emoji-container--sad .emoji-eye {
    width: 30%;
}

.emoji-container--sad .emoji-eye--left {
    top: 60%;
    left: 18%;
}

.emoji-container--sad .emoji-eye--right {
    top: 60%;
    left: 52%;
}


/* frown both eyes */
.emoji-container--sad .emoji-eye-ball {
    height: 200px;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;

    background-image: linear-gradient(transparent 50%, rgba(0,0,0,.9) 50%);
}

.emoji-container--sad .emoji-eye--left .emoji-eye-ball {
    animation-name: sad-left;
}

.emoji-container--sad .emoji-eye--right .emoji-eye-ball {
    animation-name: sad-right;
}


    /** sad animation */
@keyframes sad-left {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    100% {
        clip-path: polygon(0 73%, 100% 58%, 100% 100%, 0% 100%);
    }
}

@keyframes sad-right {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    100% {
        clip-path: polygon(0 58%, 100% 73%, 100% 100%, 0% 100%);
    }
}

/*** Animations - Sad *****/


/*** Animations - Angry *****/

.emoji-container--angry .emoji-eye {
    width: 30%;
}

.emoji-container--angry .emoji-eye--left {
    top: 40%;
    left: 18%;
}

.emoji-container--angry .emoji-eye--right {
    top: 40%;
    left: 52%;
}


/* frown both eyes */
.emoji-container--angry .emoji-eye-ball {
    height: 200px;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;

    background-image: linear-gradient(transparent 50%, rgba(0,0,0,.9) 50%);
}

.emoji-container--angry .emoji-eye--left .emoji-eye-ball {
    animation-name: angry-left;
}

.emoji-container--angry .emoji-eye--right .emoji-eye-ball {
    animation-name: angry-right;
}


    /** angry animation */
@keyframes angry-left {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    100% {
        clip-path: polygon(0 45%, 100% 65%, 100% 100%, 0 100%);
    }
}

@keyframes angry-right {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    100% {
        clip-path: polygon(0 65%, 100% 45%, 100% 100%, 0 100%);
    }
}

    /* shakey? */

/*** Animations - Angry *****/


/*** Animations - Hope *****/

.emoji-container--hope .emoji-eye {
    width: 40%;
}

.emoji-container--hope .emoji-eye--left {
    top: 30%;
    left: 8%;
}

.emoji-container--hope .emoji-eye--right {
    top: 30%;
    left: 52%;
}

.emoji-container--hope .emoji-eye--left .emoji-eye-ball,
.emoji-container--hope .emoji-eye--right .emoji-eye-ball {
    height: 250px;
}

/*** Animations - hope *****/


/*** Animations - Excitement *****/

.emoji-container--excitement .emoji-eye {
    width: 40%;

    animation-duration: 300ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: happy-movement;
}

.emoji-container--excitement .emoji-eye--left {
    top: 30%;
    left: 8%;
}

.emoji-container--excitement .emoji-eye--right {
    top: 30%;
    left: 52%;
}

.emoji-container--excitement .emoji-eye--left .emoji-eye-ball,
.emoji-container--excitement .emoji-eye--right .emoji-eye-ball {
    height: 250px;
}

/*** Animations - excitement *****/

/*** Animations - Happy *****/


.emoji-container--happy .emoji-eye {
    width: 30%;

    animation-duration: 300ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: happy-movement;
}

.emoji-container--happy .emoji-eye--left {
    top: 40%;
    left: 18%;
}

.emoji-container--happy .emoji-eye--right {
    top: 40%;
    left: 52%;
}


/* frown both eyes */
.emoji-container--happy .emoji-eye-ball {
    height: 200px;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;

    background-image: linear-gradient(transparent 50%, rgba(0,0,0,.9) 50%);
}

.emoji-container--happy .emoji-eye-ball {
    animation-name: happy;
}


    /** happy animation */
@keyframes happy {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 25%, 0 25%);
    }
}

@keyframes happy-movement {
    0% {
        top: 40%;
    }
    50% {
        top: 45%;
    }
    100% {
        top: 40%;
    }
}

/*** Animations - Happy *****/