body {
    color: #fff;
}

.emoji-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 100ms ease-out;
    background-color: #000;
}

.emoji-container--neutral { background-color: #000;}
.emoji-container--attention { background-color: #000;}
.emoji-container--surprised { background-color: #000;}
.emoji-container--sad { background-color: #000;}
.emoji-container--angry { background-color: #ff0000;}
.emoji-container--hope { background-color: #000;}
.emoji-container--excitement { background-color: #000;}
.emoji-container--happy { background-color: #000;}


.emoji-bot {
    position: relative;
    width: 600px;
    height: 460px;
    background-color: rgba( 255, 255, 255, 0.2 );
}

.emoji-eye {
    position: absolute;
    width: 30%;
    height: 0;

    transition: all 100ms ease-out;
}

.emoji-eye--left {
    top: 40%;
    left: 18%;
}

.emoji-eye--right {
    top: 40%;
    left: 52%;
}

.emoji-eye-ball {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    transform: translateY(-50%);
    height: 200px;

    background-image: linear-gradient(transparent 50%, rgba(15,200,250,.9) 50%);
    background-size: 10px 10px;

    border-radius: 20%;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.emoji-eye-lid {

}


/*** Animations - Neutral *****/

.emoji-container--neutral .emoji-eye {
    width: 30%;
}

.emoji-container--neutral .emoji-eye--left {
    top: 40%;
    left: 18%;
}

.emoji-container--neutral .emoji-eye--right {
    top: 40%;
    left: 52%;
}

.emoji-container--neutral .emoji-eye-ball {
    height: 200px;
    animation-name: blinker;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

    /** blink animation */
@keyframes blinker {
    94% {
        height: 200px;
    }
    97% {
        height: 0;
    }
    100% {
        height: 200px;
    }
}

/*** Animations - Neutral *****/


/*** Animations - Attention *****/

    /* big eyes */

    /* shift left right anim / follow */

/*** Animations - Attention *****/


/*** Animations - Surprised *****/

    /* lifting eyebrow */

/*** Animations - Surprised *****/


/*** Animations - Sad *****/

    /* down eyes */

/*** Animations - Sad *****/


/*** Animations - Angry *****/

.emoji-container--angry .emoji-eye {
    width: 30%;
}

.emoji-container--angry .emoji-eye--left {
    top: 40%;
    left: 18%;
}

.emoji-container--angry .emoji-eye--right {
    top: 40%;
    left: 52%;
}


/* frown both eyes */
.emoji-container--angry .emoji-eye-ball {
    height: 200px;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

.emoji-container--angry .emoji-eye--left .emoji-eye-ball {
    animation-name: angry-left;
}

.emoji-container--angry .emoji-eye--right .emoji-eye-ball {
    animation-name: angry-right;
}


    /** angry animation */
@keyframes angry-left {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    100% {
        clip-path: polygon(0 45%, 100% 65%, 100% 100%, 0 100%);
    }
}

@keyframes angry-right {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    100% {
        clip-path: polygon(0 65%, 100% 45%, 100% 100%, 0 100%);
    }
}

    /* shakey? */

/*** Animations - Angry *****/


/*** Animations - Hope *****/

    /* once from small to big eyes */

/*** Animations - hope *****/


/*** Animations - Excitement *****/

    /* shaking eyes position */

/*** Animations - excitement *****/

/*** Animations - Happy *****/

    /*  */

/*** Animations - Happy *****/